{% extends "ordering/layout.html" %}
{% load static %} 
{% block body %}
    <link href="/static/ordering/index_style.css?{% now 'U' %}" rel="stylesheet">
    <h1> hello, {{user}}</h1>
    <div class="table">
        <table> 
            <tr>
                <th>head 1</th>
                <th>head 2</th>
                <th>head 3</th>
                <th>head 4</th>
            </tr>
            {% for food in data %}
                <tr>
                    <td>{{food.name}}</td>
                    <td class="img-col"> <img src="{{MEDIA_URL}}{{food.image}}" style="width:200px;height:200px;"> </td>
                    <td>{{food.price}}</td>
                    <td class="form-col">
                        <form action="{%url 'ordering:add'%}" method="post">
                            {%csrf_token%}
                            <input type="hidden" name="food_name" value="{{food.name}}">
                            <input type="hidden" name="food_img" value="{{food.image}}">
                            <input type="hidden" name="food_price" value="{{food.price}}">
                            <input type="number" name="food_quantity" min="1" required="required" placeholder="quantity">
                            <input type="submit" value="add">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}