<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="index_style.css">
<title>Online Food Ordering</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>username</h1>
            <a id="logout" href="#">logout</a>
            <div class="sidebar"> 
                <ul class="nav">
                    <li><a href="#"><p>test1</p></a></li>
                    <li><a href="#"><p>test2</p></a></li>
                    <li><a href="#"><p>test3</p></a></li>
                    <li><a href="#"><p>test4</p></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            Order
        </div>
    </div>
</body>
</html>
