{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{% static 'ordering/index_style.css'%}">
<title>Online Food Ordering</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>username</h1>
            <a id="logout" href="#">logout</a>
            <div class="sidebar"> 
                <ul class="nav">
                    <li><a href="#"><p>test1</p></a></li>
                    <li><a href="#"><p>test2</p></a></li>
                    <li><a href="#"><p>test3</p></a></li>
                    <li><a href="#"><p>test4</p></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <h1> hello</h1>
            <div class="table">
                <table> 
                    <tr>
                        <th>head 1</th>
                        <th>head 2</th>
                        <th>head 3</th>
                    </tr>
                    {% for item in items %}
                        <tr>
                        {% for i in item %}
                        <td>{{i}}</td>
                        {% endfor %}
                     </tr>
                    {% endfor %}
                </table>
            <div/>
        </div>
    </div>
</body>
</html>
