{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/ordering/layout_style.css?{% now 'U' %}" rel="stylesheet">
    <title>Online Food Ordering</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="header">
            <h1>{{user}}</h1>
            {% if user != "guest" %}
                <a id="logout" href="/ordering/logout">logout</a>
            {% else %}
                <a id="login" href="/ordering/login">login</a>
                <a id="register" href="/ordering/register">register</a>
            {% endif %}
            <div class="sidebar"> 
                <ul class="nav">
                    <li><a href="{%url 'ordering:index'%}"><p>Store</p></a></li>
                    <li><a href="{%url 'ordering:cart'%}"><p>Cart</p></a></li>
                    <li><a href="{%url 'ordering:orders'%}"><p>Orders</p></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
